In [1]:
#!/usr/bin/env python
from __future__ import print_function

import numpy as np
import pandas as pd
import h5py
import re

/home/rhf/.local/lib/python3.5/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
from datetime import datetime

f = h5py.File("/SNS/MANDI/IPTS-8776/0/5800/NeXus/MANDI_5800_event.nxs", "r")


event_banks = [item for item in f["entry"].values() if isinstance(item, h5py.Group) and item.name.endswith("events")]

df = pd.DataFrame()

In [3]:
for bank in event_banks[-1:]: # For debug use event_banks[-1:]
    
    #
    # index is event id, value is pixel_id
    event_pixel_id = bank["event_id"].value
    
    #
    # create tmp df with the pixel_id inside
    df_tmp = pd.DataFrame(
        data = event_pixel_id,
        columns = ['pixel_id']
    )
    
    #
    # Get the Pixels position 256x256 = 65536
    pixel_ids = bank["pixel_id"].value
    # flatten pixel_ids and get respective indices
    XX,YY = np.meshgrid(np.arange(pixel_ids.shape[1]),np.arange(pixel_ids.shape[0]))
    # 2d array of the format: pixel_id, i, j
    pixel_id_and_indices = np.vstack((pixel_ids.ravel(),XX.ravel(),YY.ravel())).T
    
    # tmp df for detector info
    df_tmp2 = pd.DataFrame(
        data=pixel_id_and_indices,
        columns=['pixel_id', 'i', 'j'],
    )
    # Left join
    df_tmp = pd.merge(left=df_tmp,right=df_tmp2, how='left', left_on='pixel_id', right_on='pixel_id')
    # remove the pixel_id (we don't need it amy more)
    df_tmp = df_tmp.drop('pixel_id', 1)

    #
    # index is event id, value time
    event_time_offset = bank["event_time_offset"].value
    df_tmp['time_offset'] = event_time_offset





    # Length pulses != events
    #
    # index is pulse id, value is event_id
    pulse_event_index = bank["event_index"].value
    pulse_event_index_step = np.diff(pulse_event_index) # difference between the current and previous
    pulse_event_index_step = np.insert(pulse_event_index_step,0,0) # Insert 0 in the beggining
    #
    # index is pulse id, value pulse 0 time
    pulse_time_zero = bank["event_time_zero"].value
    pulse_time_zero_with_event = pulse_time_zero[pulse_event_index_step>0] # only where there is a count
    pulse_event_index_with_event = pulse_event_index[pulse_event_index_step>0]

    df_tmp2 = pd.DataFrame(
        data= np.column_stack((pulse_event_index_with_event,pulse_time_zero_with_event)),
        columns=['event_id', 'time_zero'],
    )
    df_tmp2.event_id = df_tmp2.event_id.astype(np.int64)
    # Left join
    df_tmp = pd.merge(left=df_tmp,right=df_tmp2, how='left',  left_index = True, right_on='event_id')
    df_tmp = df_tmp.fillna(method='bfill') # fill nans with the value from the next cell



    #
    # get the bank number
    pattern = re.compile(r"/entry/bank(\d+)_events")
    match = pattern.match(bank.name)
    bank_number = int(match.group(1))

    #
    # Bank Number
    bank_number_array = np.array([bank_number]*len(df_tmp))
    df_tmp['bank_id'] = bank_number_array

    # Append to the final table
    df = df.append(df_tmp, ignore_index = True)

In [4]:
df

          i    j   time_offset  event_id     time_zero  bank_id
0       215   76  13546.000000         0      0.333328        8
1        27   70  12467.299805         1      0.333328        8
2        77   77  11832.000000         2      0.349994        8
3        96  109  14687.799805         3      0.366660        8
4       227   37  13229.400391         4      0.416659        8
5       169  146  18990.599609         5      0.433326        8
6       168  198  21495.000000         6      0.433326        8
7       218  119  11197.599609         7      0.433326        8
8       246  167  14558.599609         8      0.449992        8
9        37  186  12407.400391         9      0.449992        8
10       90  205  14320.299805        10      0.516658        8
11       37   38  17205.599609        11      0.516658        8
12       55  251  19102.199219        12      0.566657        8
13       91  112  11870.599609        13      0.583323        8
14      178  241   7853.100098        14      0.633322        8
15      191  175  18274.699219        15      0.749987        8
16        4  112  13478.500000        16      0.766653        8
17      198   77  18081.800781        17      0.799986        8
18      199   63   8444.400391        18      0.866652        8
19      155   48  12280.500000        19      0.949984        8
20      229   38  19142.400391        20      0.949984        8
21      201  197  20140.599609        21      1.016649        8
22      236  209   7897.600098        22      1.033315        8
23       96   29  15238.200195        23      1.033315        8
24       65   34  21946.599609        24      1.049982        8
25      243   74   9726.500000        25      1.066648        8
26       93  184  17587.599609        26      1.066648        8
27       65  196  17115.800781        27      1.133314        8
28      179  223   8775.799805        28      1.199979        8
29      213   25   9430.799805        29      1.199979        8
...     ...  ...           ...       ...           ...      ...
554881   88  181  17488.599609    554881  17026.089760        8
554882   29  182  21027.800781    554882  17026.123093        8
554883   35  238  17634.599609    554883  17026.156426        8
554884  222   11   8931.299805    554884  17026.173092        8
554885  181  102   7712.799805    554885  17026.189759        8
554886  205  168  15196.099609    554886  17026.206425        8
554887  195  182   7749.200195    554887  17026.289757        8
554888   53   99  18835.699219    554888  17026.323090        8
554889   92   73   8561.900391    554889  17026.323090        8
554890   35   64  19450.800781    554890  17026.339756        8
554891   10   91   8306.400391    554891  17026.373089        8
554892  159  237  19810.199219    554892  17026.373089        8
554893   83  182  19371.800781    554893  17026.423088        8
554894  145  192  14430.200195    554894  17026.439754        8
554895  191  119  16917.599609    554895  17026.523086        8
554896  242  199  13001.000000    554896  17026.556419        8
554897  144  174  15176.400391    554897  17026.589752        8
554898  116  246  20084.000000    554898  17026.606418        8
554899  242  222  18545.599609    554899  17026.606418        8
554900  115  163  10685.200195    554900  17026.623085        8
554901  167  200  10315.200195    554901  17026.656417        8
554902  169  161  20981.300781    554902  17026.673084        8
554903  130  140  22169.800781    554903  17026.689750        8
554904  146  134  22121.199219    554904  17026.723083        8
554905   29   91   8771.000000    554905  17026.756416        8
554906  177   91  17014.199219    554906  17026.806415        8
554907   17  174  20039.199219    554907  17026.889746        8
554908  235   96  21009.199219    554908  17026.906413        8
554909  210   32  12964.200195    554909  17026.956412        8
554910  231  167  19846.400391    554910  17026.973078        8

[554911 rows x 6 columns]

In [5]:
#
# Convert TOF number to time_delta
# SLOW!
df['time_offset'] = pd.to_timedelta(df['time_offset'],  unit="us")

# SLOW
start_date = np.datetime64(f['entry']['start_time'].value[0])
df['time_zero'] = pd.to_timedelta(df.time_zero) + start_date
df = df.set_index('time_zero')

# We don't need event id
df = df.drop('event_id', 1)
df

/home/rhf/.local/lib/python3.5/site-packages/ipykernel_launcher.py:7: DeprecationWarning: parsing timezone aware datetimes is deprecated; this will raise an error in the future
  import sys

                                 i    j     time_offset  bank_id
time_zero
2016-07-15 06:50:28.825350666  215   76 00:00:00.013546        8
2016-07-15 06:50:28.825350666   27   70 00:00:00.012467        8
2016-07-15 06:50:28.825350666   77   77 00:00:00.011832        8
2016-07-15 06:50:28.825350666   96  109 00:00:00.014687        8
2016-07-15 06:50:28.825350666  227   37 00:00:00.013229        8
2016-07-15 06:50:28.825350666  169  146 00:00:00.018990        8
2016-07-15 06:50:28.825350666  168  198 00:00:00.021495        8
2016-07-15 06:50:28.825350666  218  119 00:00:00.011197        8
2016-07-15 06:50:28.825350666  246  167 00:00:00.014558        8
2016-07-15 06:50:28.825350666   37  186 00:00:00.012407        8
2016-07-15 06:50:28.825350666   90  205 00:00:00.014320        8
2016-07-15 06:50:28.825350666   37   38 00:00:00.017205        8
2016-07-15 06:50:28.825350666   55  251 00:00:00.019102        8
2016-07-15 06:50:28.825350666   91  112 00:00:00.011870        8
2016-07-15 06:50:28.825350666  178  241 00:00:00.007853        8
2016-07-15 06:50:28.825350666  191  175 00:00:00.018274        8
2016-07-15 06:50:28.825350666    4  112 00:00:00.013478        8
2016-07-15 06:50:28.825350666  198   77 00:00:00.018081        8
2016-07-15 06:50:28.825350666  199   63 00:00:00.008444        8
2016-07-15 06:50:28.825350666  155   48 00:00:00.012280        8
2016-07-15 06:50:28.825350666  229   38 00:00:00.019142        8
2016-07-15 06:50:28.825350667  201  197 00:00:00.020140        8
2016-07-15 06:50:28.825350667  236  209 00:00:00.007897        8
2016-07-15 06:50:28.825350667   96   29 00:00:00.015238        8
2016-07-15 06:50:28.825350667   65   34 00:00:00.021946        8
2016-07-15 06:50:28.825350667  243   74 00:00:00.009726        8
2016-07-15 06:50:28.825350667   93  184 00:00:00.017587        8
2016-07-15 06:50:28.825350667   65  196 00:00:00.017115        8
2016-07-15 06:50:28.825350667  179  223 00:00:00.008775        8
2016-07-15 06:50:28.825350667  213   25 00:00:00.009430        8
...                            ...  ...             ...      ...
2016-07-15 06:50:28.825367692   88  181 00:00:00.017488        8
2016-07-15 06:50:28.825367692   29  182 00:00:00.021027        8
2016-07-15 06:50:28.825367692   35  238 00:00:00.017634        8
2016-07-15 06:50:28.825367692  222   11 00:00:00.008931        8
2016-07-15 06:50:28.825367692  181  102 00:00:00.007712        8
2016-07-15 06:50:28.825367692  205  168 00:00:00.015196        8
2016-07-15 06:50:28.825367692  195  182 00:00:00.007749        8
2016-07-15 06:50:28.825367692   53   99 00:00:00.018835        8
2016-07-15 06:50:28.825367692   92   73 00:00:00.008561        8
2016-07-15 06:50:28.825367692   35   64 00:00:00.019450        8
2016-07-15 06:50:28.825367692   10   91 00:00:00.008306        8
2016-07-15 06:50:28.825367692  159  237 00:00:00.019810        8
2016-07-15 06:50:28.825367692   83  182 00:00:00.019371        8
2016-07-15 06:50:28.825367692  145  192 00:00:00.014430        8
2016-07-15 06:50:28.825367692  191  119 00:00:00.016917        8
2016-07-15 06:50:28.825367692  242  199 00:00:00.013001        8
2016-07-15 06:50:28.825367692  144  174 00:00:00.015176        8
2016-07-15 06:50:28.825367692  116  246 00:00:00.020084        8
2016-07-15 06:50:28.825367692  242  222 00:00:00.018545        8
2016-07-15 06:50:28.825367692  115  163 00:00:00.010685        8
2016-07-15 06:50:28.825367692  167  200 00:00:00.010315        8
2016-07-15 06:50:28.825367692  169  161 00:00:00.020981        8
2016-07-15 06:50:28.825367692  130  140 00:00:00.022169        8
2016-07-15 06:50:28.825367692  146  134 00:00:00.022121        8
2016-07-15 06:50:28.825367692   29   91 00:00:00.008771        8
2016-07-15 06:50:28.825367692  177   91 00:00:00.017014        8
2016-07-15 06:50:28.825367692   17  174 00:00:00.020039        8
2016-07-15 06:50:28.825367692  235   96 00:00:00.021009        8
2016-07-15 06:50:28.825367692  210   32 00:00:00.012964        8
2016-07-15 06:50:28.825367692  231  167 00:00:00.019846        8

[554911 rows x 4 columns]