In [1]:
#!/usr/bin/env python
from __future__ import print_function

import numpy as np
import pandas as pd
import h5py
import re

In [19]:
from datetime import datetime

f = h5py.File("/Users/rhf/MANDI_5800_event.nxs", "r")



event_banks = [item for item in f["entry"].values() if isinstance(item, h5py.Group) and item.name.endswith("events")]

df = pd.DataFrame()

In [20]:
for bank in event_banks[:2]: # For debug use event_banks[-1:]
    
    #
    # index is event id, value is pixel_id
    event_pixel_id = bank["event_id"].value
    
    #
    # create tmp df with the pixel_id inside
    df_tmp = pd.DataFrame(
        data = event_pixel_id,
        columns = ['pixel_id']
    )
    
    #
    # Get the Pixels position 256x256 = 65536
    pixel_ids = bank["pixel_id"].value
    # flatten pixel_ids and get respective indices
    XX,YY = np.meshgrid(np.arange(pixel_ids.shape[1]),np.arange(pixel_ids.shape[0]))
    # 2d array of the format: pixel_id, i, j
    pixel_id_and_indices = np.vstack((pixel_ids.ravel(),XX.ravel(),YY.ravel())).T
    
    # tmp df for detector info
    df_tmp2 = pd.DataFrame(
        data=pixel_id_and_indices,
        columns=['pixel_id', 'i', 'j'],
    )
    # Left join
    df_tmp = pd.merge(left=df_tmp,right=df_tmp2, how='left', left_on='pixel_id', right_on='pixel_id')
    # remove the pixel_id (we don't need it amy more)
    df_tmp = df_tmp.drop('pixel_id', 1)

    #
    # index is event id, value time
    event_time_offset = bank["event_time_offset"].value
    df_tmp['time_offset'] = event_time_offset





    # Length pulses != events
    #
    # index is pulse id, value is event_id
    pulse_event_index = bank["event_index"].value
    pulse_event_index_step = np.diff(pulse_event_index) # difference between the current and previous
    pulse_event_index_step = np.insert(pulse_event_index_step,0,0) # Insert 0 in the beggining
    #
    # index is pulse id, value pulse 0 time
    pulse_time_zero = bank["event_time_zero"].value
    pulse_time_zero_with_event = pulse_time_zero[pulse_event_index_step>0] # only where there is a count
    pulse_event_index_with_event = pulse_event_index[pulse_event_index_step>0]

    df_tmp2 = pd.DataFrame(
        data= np.column_stack((pulse_event_index_with_event,pulse_time_zero_with_event)),
        columns=['event_id', 'time_zero'],
    )
    df_tmp2.event_id = df_tmp2.event_id.astype(np.int64)
    # Left join
    df_tmp = pd.merge(left=df_tmp,right=df_tmp2, how='left',  left_index = True, right_on='event_id')
    df_tmp = df_tmp.fillna(method='bfill') # fill nans with the value from the next cell



    #
    # get the bank number
    pattern = re.compile(r"/entry/bank(\d+)_events")
    match = pattern.match(bank.name)
    bank_number = int(match.group(1))

    #
    # Bank Number
    bank_number_array = np.array([bank_number]*len(df_tmp))
    df_tmp['bank_id'] = bank_number_array

    # Append to the final table
    df = df.append(df_tmp, ignore_index = True)

df

           i    j   time_offset  event_id     time_zero  bank_id
0        240  206  22161.199219         0      0.066666       11
1        175  131   8810.299805         1      0.066666       11
2        126  145  12683.000000         2      0.066666       11
3        105  233  14681.900391         3      0.066666       11
4         84   54  18583.199219         4      0.183330       11
5        244  216  19682.300781         5      0.283328       11
6         29   29  20272.300781         6      0.283328       11
7         31  107  20595.699219         7      0.283328       11
8         21   42  10271.000000         8      0.366660       11
9         85   88  18405.599609         9      0.399993       11
10        25   82  12861.099609        10      0.416659       11
11       215  119  13961.799805        11      0.433326       11
12        89  189   8627.099609        12      0.483325       11
13       185   71  18610.800781        13      0.499991       11
14       216  111  14075.799805        14      0.633322       11
15       217  114  13999.500000        15      0.633322       11
16       217  111  14271.200195        16      0.649989       11
17        99  110  19196.099609        17      0.649989       11
18        48  184   7837.100098        18      0.666655       11
19        30   72  17545.599609        19      0.683322       11
20       108  243   7935.799805        20      0.699988       11
21        56  228   8865.000000        21      0.733321       11
22        34   34  10229.400391        22      0.749987       11
23        74  114   7476.100098        23      0.883318       11
24       250   56  18173.900391        24      0.933317       11
25        70  236  21987.500000        25      0.949984       11
26        51  113  14041.799805        26      0.949984       11
27        84  147  17448.099609        27      1.033315       11
28        52   39  13905.099609        28      1.066648       11
29        51  127  20864.000000        29      1.083315       11
...      ...  ...           ...       ...           ...      ...
1103746  171  204  15561.500000    516164  17025.723100       12
1103747   91   66  19666.699219    516165  17025.806432       12
1103748  142   67  18104.699219    516166  17025.873097       12
1103749   47   98  20987.099609    516167  17025.889764       12
1103750   77  193  13026.599609    516168  17025.889764       12
1103751  108  196  12702.900391    516169  17025.906430       12
1103752  244   45  19352.900391    516170  17025.973096       12
1103753  148   93  18083.900391    516171  17026.006428       12
1103754  186   63  19627.099609    516172  17026.023095       12
1103755  217   14  15381.500000    516173  17026.056428       12
1103756  186  107  10381.500000    516174  17026.106427       12
1103757   65   53   9686.299805    516175  17026.123093       12
1103758  111   68  13545.299805    516176  17026.189759       12
1103759  210  235  13779.200195    516177  17026.206425       12
1103760  189  243  14396.000000    516178  17026.206425       12
1103761  191  157  17320.699219    516179  17026.289757       12
1103762  220  229   9312.200195    516180  17026.306423       12
1103763  223  213  20235.099609    516181  17026.373089       12
1103764  185  188   8662.299805    516182  17026.539753       12
1103765  149  219  19597.199219    516183  17026.539753       12
1103766  185   16   7382.399902    516184  17026.673084       12
1103767  242   89  15244.299805    516185  17026.723083       12
1103768   86   67  20715.800781    516186  17026.739749       12
1103769  166  108  12475.400391    516187  17026.739749       12
1103770  172   60  19274.300781    516188  17026.756416       12
1103771   76  165  21194.300781    516189  17026.756416       12
1103772    9  114  11035.900391    516190  17026.806415       12
1103773  251   73  18787.099609    516191  17026.873080       12
1103774   66  162  19373.599609    516192  17026.939746       12
1103775   53  161  21938.400391    516193  17026.956412       12

[1103776 rows x 6 columns]

In [21]:
#
# Convert TOF number to time_delta
# SLOW!
df['time_offset'] = pd.to_timedelta(df['time_offset'],  unit="us")
df

           i    j     time_offset  event_id     time_zero  bank_id
0        240  206 00:00:00.022161         0      0.066666       11
1        175  131 00:00:00.008810         1      0.066666       11
2        126  145 00:00:00.012683         2      0.066666       11
3        105  233 00:00:00.014681         3      0.066666       11
4         84   54 00:00:00.018583         4      0.183330       11
5        244  216 00:00:00.019682         5      0.283328       11
6         29   29 00:00:00.020272         6      0.283328       11
7         31  107 00:00:00.020595         7      0.283328       11
8         21   42 00:00:00.010271         8      0.366660       11
9         85   88 00:00:00.018405         9      0.399993       11
10        25   82 00:00:00.012861        10      0.416659       11
11       215  119 00:00:00.013961        11      0.433326       11
12        89  189 00:00:00.008627        12      0.483325       11
13       185   71 00:00:00.018610        13      0.499991       11
14       216  111 00:00:00.014075        14      0.633322       11
15       217  114 00:00:00.013999        15      0.633322       11
16       217  111 00:00:00.014271        16      0.649989       11
17        99  110 00:00:00.019196        17      0.649989       11
18        48  184 00:00:00.007837        18      0.666655       11
19        30   72 00:00:00.017545        19      0.683322       11
20       108  243 00:00:00.007935        20      0.699988       11
21        56  228 00:00:00.008865        21      0.733321       11
22        34   34 00:00:00.010229        22      0.749987       11
23        74  114 00:00:00.007476        23      0.883318       11
24       250   56 00:00:00.018173        24      0.933317       11
25        70  236 00:00:00.021987        25      0.949984       11
26        51  113 00:00:00.014041        26      0.949984       11
27        84  147 00:00:00.017448        27      1.033315       11
28        52   39 00:00:00.013905        28      1.066648       11
29        51  127 00:00:00.020864        29      1.083315       11
...      ...  ...             ...       ...           ...      ...
1103746  171  204 00:00:00.015561    516164  17025.723100       12
1103747   91   66 00:00:00.019666    516165  17025.806432       12
1103748  142   67 00:00:00.018104    516166  17025.873097       12
1103749   47   98 00:00:00.020987    516167  17025.889764       12
1103750   77  193 00:00:00.013026    516168  17025.889764       12
1103751  108  196 00:00:00.012702    516169  17025.906430       12
1103752  244   45 00:00:00.019352    516170  17025.973096       12
1103753  148   93 00:00:00.018083    516171  17026.006428       12
1103754  186   63 00:00:00.019627    516172  17026.023095       12
1103755  217   14 00:00:00.015381    516173  17026.056428       12
1103756  186  107 00:00:00.010381    516174  17026.106427       12
1103757   65   53 00:00:00.009686    516175  17026.123093       12
1103758  111   68 00:00:00.013545    516176  17026.189759       12
1103759  210  235 00:00:00.013779    516177  17026.206425       12
1103760  189  243 00:00:00.014396    516178  17026.206425       12
1103761  191  157 00:00:00.017320    516179  17026.289757       12
1103762  220  229 00:00:00.009312    516180  17026.306423       12
1103763  223  213 00:00:00.020235    516181  17026.373089       12
1103764  185  188 00:00:00.008662    516182  17026.539753       12
1103765  149  219 00:00:00.019597    516183  17026.539753       12
1103766  185   16 00:00:00.007382    516184  17026.673084       12
1103767  242   89 00:00:00.015244    516185  17026.723083       12
1103768   86   67 00:00:00.020715    516186  17026.739749       12
1103769  166  108 00:00:00.012475    516187  17026.739749       12
1103770  172   60 00:00:00.019274    516188  17026.756416       12
1103771   76  165 00:00:00.021194    516189  17026.756416       12
1103772    9  114 00:00:00.011035    516190  17026.806415       12
1103773  251   73 00:00:00.018787    516191  17026.873080       12
1103774   66  162 00:00:00.019373    516192  17026.939746       12
1103775   53  161 00:00:00.021938    516193  17026.956412       12

[1103776 rows x 6 columns]

In [22]:
# Just to make sure start and end times makes sense
start_date = np.datetime64(f['entry']['start_time'].value[0])
print(start_date)
end_time = np.datetime64(f['entry']['end_time'].value[0])
print(end_time)

# SLOW
df['time_zero'] = pd.to_timedelta(df.time_zero, unit='s') + start_date
df = df.set_index('time_zero')

# We don't need event id
df = df.drop('event_id', 1)
df

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning: parsing timezone aware datetimes is deprecated; this will raise an error in the future

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:4: DeprecationWarning: parsing timezone aware datetimes is deprecated; this will raise an error in the future
  after removing the cwd from sys.path.

2016-07-15T06:50:28.825350666
2016-07-15T11:34:15.798428666

                                 i    j     time_offset  bank_id
time_zero
2016-07-15 06:50:28.892016666  240  206 00:00:00.022161       11
2016-07-15 06:50:28.892016666  175  131 00:00:00.008810       11
2016-07-15 06:50:28.892016666  126  145 00:00:00.012683       11
2016-07-15 06:50:28.892016666  105  233 00:00:00.014681       11
2016-07-15 06:50:29.008680666   84   54 00:00:00.018583       11
2016-07-15 06:50:29.108678666  244  216 00:00:00.019682       11
2016-07-15 06:50:29.108678666   29   29 00:00:00.020272       11
2016-07-15 06:50:29.108678666   31  107 00:00:00.020595       11
2016-07-15 06:50:29.192010666   21   42 00:00:00.010271       11
2016-07-15 06:50:29.225343666   85   88 00:00:00.018405       11
2016-07-15 06:50:29.242009666   25   82 00:00:00.012861       11
2016-07-15 06:50:29.258676666  215  119 00:00:00.013961       11
2016-07-15 06:50:29.308675666   89  189 00:00:00.008627       11
2016-07-15 06:50:29.325341666  185   71 00:00:00.018610       11
2016-07-15 06:50:29.458672666  216  111 00:00:00.014075       11
2016-07-15 06:50:29.458672666  217  114 00:00:00.013999       11
2016-07-15 06:50:29.475339666  217  111 00:00:00.014271       11
2016-07-15 06:50:29.475339666   99  110 00:00:00.019196       11
2016-07-15 06:50:29.492005666   48  184 00:00:00.007837       11
2016-07-15 06:50:29.508672666   30   72 00:00:00.017545       11
2016-07-15 06:50:29.525338666  108  243 00:00:00.007935       11
2016-07-15 06:50:29.558671666   56  228 00:00:00.008865       11
2016-07-15 06:50:29.575337666   34   34 00:00:00.010229       11
2016-07-15 06:50:29.708668666   74  114 00:00:00.007476       11
2016-07-15 06:50:29.758667666  250   56 00:00:00.018173       11
2016-07-15 06:50:29.775334666   70  236 00:00:00.021987       11
2016-07-15 06:50:29.775334666   51  113 00:00:00.014041       11
2016-07-15 06:50:29.858665665   84  147 00:00:00.017448       11
2016-07-15 06:50:29.891998666   52   39 00:00:00.013905       11
2016-07-15 06:50:29.908665666   51  127 00:00:00.020864       11
...                            ...  ...             ...      ...
2016-07-15 11:34:14.548450666  171  204 00:00:00.015561       12
2016-07-15 11:34:14.631782666   91   66 00:00:00.019666       12
2016-07-15 11:34:14.698447666  142   67 00:00:00.018104       12
2016-07-15 11:34:14.715114666   47   98 00:00:00.020987       12
2016-07-15 11:34:14.715114666   77  193 00:00:00.013026       12
2016-07-15 11:34:14.731780666  108  196 00:00:00.012702       12
2016-07-15 11:34:14.798446666  244   45 00:00:00.019352       12
2016-07-15 11:34:14.831778666  148   93 00:00:00.018083       12
2016-07-15 11:34:14.848445666  186   63 00:00:00.019627       12
2016-07-15 11:34:14.881778666  217   14 00:00:00.015381       12
2016-07-15 11:34:14.931777666  186  107 00:00:00.010381       12
2016-07-15 11:34:14.948443666   65   53 00:00:00.009686       12
2016-07-15 11:34:15.015109666  111   68 00:00:00.013545       12
2016-07-15 11:34:15.031775666  210  235 00:00:00.013779       12
2016-07-15 11:34:15.031775666  189  243 00:00:00.014396       12
2016-07-15 11:34:15.115107666  191  157 00:00:00.017320       12
2016-07-15 11:34:15.131773666  220  229 00:00:00.009312       12
2016-07-15 11:34:15.198439666  223  213 00:00:00.020235       12
2016-07-15 11:34:15.365103666  185  188 00:00:00.008662       12
2016-07-15 11:34:15.365103666  149  219 00:00:00.019597       12
2016-07-15 11:34:15.498434666  185   16 00:00:00.007382       12
2016-07-15 11:34:15.548433666  242   89 00:00:00.015244       12
2016-07-15 11:34:15.565099666   86   67 00:00:00.020715       12
2016-07-15 11:34:15.565099666  166  108 00:00:00.012475       12
2016-07-15 11:34:15.581766666  172   60 00:00:00.019274       12
2016-07-15 11:34:15.581766666   76  165 00:00:00.021194       12
2016-07-15 11:34:15.631765666    9  114 00:00:00.011035       12
2016-07-15 11:34:15.698430666  251   73 00:00:00.018787       12
2016-07-15 11:34:15.765096666   66  162 00:00:00.019373       12
2016-07-15 11:34:15.781762666   53  161 00:00:00.021938       12

[1103776 rows x 4 columns]

In [23]:
#
# Let's bin now
#

# TOF Range
df.time_offset.min(),df.time_offset.max()

(Timedelta('0 days 00:00:00.007048'), Timedelta('0 days 00:00:00.023714'))

In [24]:
# Select a date range
df.loc['2016-07-15 09:00:00.0':'2016-07-15 10:00:00.0']

                                 i    j     time_offset  bank_id
time_zero
2016-07-15 09:00:00.058021666  176   14 00:00:00.015168       11
2016-07-15 09:00:00.091353666  162   63 00:00:00.020588       11
2016-07-15 09:00:00.091353666  199  153 00:00:00.012092       11
2016-07-15 09:00:00.141353666   13   83 00:00:00.015559       11
2016-07-15 09:00:00.141353666   24   30 00:00:00.017491       11
2016-07-15 09:00:00.174685666   27  109 00:00:00.014980       11
2016-07-15 09:00:00.208018666  152  132 00:00:00.020009       11
2016-07-15 09:00:00.224684666   92   80 00:00:00.015028       11
2016-07-15 09:00:00.241351666  194   96 00:00:00.016793       11
2016-07-15 09:00:00.308016666   13  116 00:00:00.015658       11
2016-07-15 09:00:00.324683666  174  247 00:00:00.016405       11
2016-07-15 09:00:00.341349666  214  207 00:00:00.017920       11
2016-07-15 09:00:00.391348666  108   74 00:00:00.019719       11
2016-07-15 09:00:00.424681666   31   17 00:00:00.020507       11
2016-07-15 09:00:00.458014666   27  155 00:00:00.013523       11
2016-07-15 09:00:00.508013666  105   29 00:00:00.019576       11
2016-07-15 09:00:00.541346666  208  197 00:00:00.015450       11
2016-07-15 09:00:00.558012666  222  112 00:00:00.016126       11
2016-07-15 09:00:00.591345666  244   38 00:00:00.017608       11
2016-07-15 09:00:00.591345666   56    5 00:00:00.011794       11
2016-07-15 09:00:00.608011666   19  160 00:00:00.019239       11
2016-07-15 09:00:00.608011666  111   11 00:00:00.009314       11
2016-07-15 09:00:00.624678666   62  214 00:00:00.014797       11
2016-07-15 09:00:00.624678666   20   71 00:00:00.021072       11
2016-07-15 09:00:00.624678666  213   23 00:00:00.010086       11
2016-07-15 09:00:00.674677666   73  106 00:00:00.011401       11
2016-07-15 09:00:00.724676666   34   20 00:00:00.015466       11
2016-07-15 09:00:00.741342666  239   56 00:00:00.017944       11
2016-07-15 09:00:00.741342666   11  226 00:00:00.019465       11
2016-07-15 09:00:00.741342666   81  249 00:00:00.015050       11
...                            ...  ...             ...      ...
2016-07-15 10:00:00.295944666  210  179 00:00:00.013579       12
2016-07-15 10:00:00.329276666  201  132 00:00:00.022001       12
2016-07-15 10:00:00.362609666  158  200 00:00:00.014388       12
2016-07-15 10:00:00.395942666  229  235 00:00:00.022110       12
2016-07-15 10:00:00.412608666  115  141 00:00:00.018415       12
2016-07-15 10:00:00.412608666   70   18 00:00:00.022130       12
2016-07-15 10:00:00.429275666   43   40 00:00:00.011073       12
2016-07-15 10:00:00.445941666  174   84 00:00:00.017296       12
2016-07-15 10:00:00.462607666  233  147 00:00:00.008118       12
2016-07-15 10:00:00.479274666  240  122 00:00:00.013907       12
2016-07-15 10:00:00.512607666  221   87 00:00:00.017142       12
2016-07-15 10:00:00.529273666  212   37 00:00:00.013994       12
2016-07-15 10:00:00.562606666  183   17 00:00:00.008377       12
2016-07-15 10:00:00.562606666  191  234 00:00:00.020844       12
2016-07-15 10:00:00.595938666   65  110 00:00:00.015309       12
2016-07-15 10:00:00.629271666  166  206 00:00:00.020990       12
2016-07-15 10:00:00.629271666   69   42 00:00:00.020672       12
2016-07-15 10:00:00.662604666  106  240 00:00:00.015555       12
2016-07-15 10:00:00.679270666  157  148 00:00:00.018415       12
2016-07-15 10:00:00.679270666   58  171 00:00:00.019448       12
2016-07-15 10:00:00.679270666  208  149 00:00:00.016089       12
2016-07-15 10:00:00.729269666  102    9 00:00:00.015923       12
2016-07-15 10:00:00.812601666  182  109 00:00:00.014777       12
2016-07-15 10:00:00.829268665  157  235 00:00:00.018292       12
2016-07-15 10:00:00.829268665   62  180 00:00:00.012489       12
2016-07-15 10:00:00.845934666   22   74 00:00:00.019566       12
2016-07-15 10:00:00.862600666   29    7 00:00:00.010320       12
2016-07-15 10:00:00.945932666  216   40 00:00:00.009442       12
2016-07-15 10:00:00.962599666  238  204 00:00:00.009745       12
2016-07-15 10:00:00.979265666   69   93 00:00:00.016860       12

[232426 rows x 4 columns]

In [28]:
# Let's see how many neutrons every pixel
df.groupby(["bank_id","i","j"]).count()

                 time_offset
bank_id i   j
11      2   57             3
            58             2
            60             1
            61             3
            62             1
            63             2
            64             2
            66             2
            67             1
            68             1
            69             2
            70             1
            71             2
            72             3
            73             5
            74             3
            75             4
            76             2
            77             6
            78             5
            79             3
            80             1
            81             3
            82             4
            83             4
            84             5
            85             4
            86             3
            87             4
            88             2
...                      ...
12      252 228            8
            229            5
            230           12
            231           13
            232            9
            233            6
            234           10
            235           10
            236           15
            237            8
            238            8
            239            6
            240           12
            241            9
            242            6
            243           12
            244           10
            245           14
            246           15
            247           11
            248           10
            249            9
            250            6
            251            5
            252            4
            253            1
        253 249            2
            250            2
            251            1
            252            1

[125170 rows x 1 columns]

In [54]:
# Rebining by tof bin 1000us
df.groupby(['bank_id','i','j']).time_offset.resample('1000us').count()

bank_id  i    j    time_offset
11       2    57   00:00:00.010716    1
                   00:00:00.011716    0
                   00:00:00.012716    0
                   00:00:00.013716    0
                   00:00:00.014716    0
                   00:00:00.015716    1
                   00:00:00.016716    1
              58   00:00:00.012183    1
                   00:00:00.013183    0
                   00:00:00.014183    0
                   00:00:00.015183    0
                   00:00:00.016183    0
                   00:00:00.017183    0
                   00:00:00.018183    0
                   00:00:00.019183    0
                   00:00:00.020183    1
              60   00:00:00.017958    1
              61   00:00:00.019539    2
                   00:00:00.020539    1
              62   00:00:00.018051    1
              63   00:00:00.011651    1
                   00:00:00.012651    0
                   00:00:00.013651    0
                   00:00:00.014651    0
                   00:00:00.015651    0
                   00:00:00.016651    0
                   00:00:00.017651    0
                   00:00:00.018651    1
                   00:00:00.019651    0
              64   00:00:00.013573    1
                                     ..
12       252  252  00:00:00.014582    0
                   00:00:00.015582    0
                   00:00:00.016582    0
                   00:00:00.017582    1
                   00:00:00.018582    0
              253  00:00:00.012935    1
         253  249  00:00:00.011439    1
                   00:00:00.012439    0
                   00:00:00.013439    0
                   00:00:00.014439    0
                   00:00:00.015439    0
                   00:00:00.016439    0
                   00:00:00.017439    0
                   00:00:00.018439    0
                   00:00:00.019439    0
                   00:00:00.020439    0
                   00:00:00.021439    1
              250  00:00:00.008902    1
                   00:00:00.009902    0
                   00:00:00.010902    0
                   00:00:00.011902    0
                   00:00:00.012902    0
                   00:00:00.013902    0
                   00:00:00.014902    0
                   00:00:00.015902    0
                   00:00:00.016902    0
                   00:00:00.017902    1
                   00:00:00.018902    0
              251  00:00:00.018468    1
              252  00:00:00.018001    1
Name: time_offset, Length: 1528267, dtype: int64